
body {
	padding: 0;
	margin: 0;
	background: rgba(219, 207, 207, 0.986);
}

.flex {
	display: flex;
}

header {
	width: 100%;
}

header #logo {
	margin: auto;
}

header #logo img {
	height: 300px;
}

footer ul {
	width: 50%;
	margin: auto;
	padding: 0;
	justify-content: space-between;
}

footer ul li {
	list-style: none;
	font-size: 2.2em;
}



