
body {
	padding: 0;
	margin: 0;
	background: rgba(219, 207, 207, 0.986);
}

* {
	font-family: "Italianno";
	font-size: 1.15em;
	color: rgba(0,0,0,0.65);
}

p {
	margin: 8px 0;
}

a {
	text-decoration: none;
	color: black;
}

.flex {
	display: flex;
}

header {
	width: 100%;
	height: 325px;
	flex-direction: column;
}

.banderole {
	width: 100%;
}
.greenBanderole {
	width: 33.33%;
	height: 5px;
	background: green;
}
.whiteBanderole {
	width: 33.33%;
	height: 5px;
	background: white;
}
.redBanderole {
	width: 33.33%;
	height: 5px;
	background: red;
}

header #logo {
	margin: auto;
}

header #logo img {
	position: relative;
	top: 21px;
	height: 300px;
}

header p {
	position: relative;
	margin: auto;
	bottom: 37px;
	font-size: 1em;
}

section {
	margin: 0 9%;
	flex-direction: column;
}

@media screen and (min-width: 1024px) {
	section {
		margin: 0 19%;

	}		
}

@media screen and (min-width: 1400px) {
	section {
		margin: 0 auto;
		max-width: 800px;
	}		
}

section h2 {
	margin: 20px auto;
	text-decoration: white underline;
	font-size: 1.7em;
}

section div {
	/* Le flex est déclaré ici pour éviter de surcharger inutilement le html */
	display: flex;
	width: 100%;
	justify-content: space-between;
}

section div p:nth-child(0n+1) {
	font-weight: bold;
}

footer {
	width: 100%;
	height: 275px;
	flex-direction: column;
}

footer h1 {
	width: 60%;
	margin: 20px auto 0 auto;
	text-decoration: white underline;
	text-align: center;
	font-size: 1.7em;
}

footer ul {
	position: relative;
	width: 75%;
	margin: 30px auto;
	padding: 0;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	footer ul {
		width: 55%;
		margin: auto;
	}		
}

@media screen and (min-width: 1024px) {
	footer ul {
		width: 45%;
	}		
}

@media screen and (min-width: 1400px) {
	footer ul {
		width: 27%;
	}		
}

footer ul li {
	list-style: none;
}

#visibleTelephoneOrNot {
	position: absolute;
	bottom: -5px;
	display: none;
	margin-right: 80%;
}

.green {
	color: green !important;
}

.white {
	color: white !important;
}

.red {
	color: red !important;
}

footer p {
	width: 75%;
	margin: auto;
	text-align: center;
}

@media screen and (min-width: 768px) {
	footer p {
		width: 100%;
		margin: 0 auto 10px auto;
	}		
}



