
body {
	padding: 0;
	margin: 0;
	background: rgba(219, 207, 207, 0.986);
}

a {
	text-decoration: none;
	color: black;
}

.flex {
	display: flex;
}

header {
	width: 100%;
}

header #logo {
	margin: auto;
}

header #logo img {
	height: 300px;
}

section {
	margin: 0 9%;
	flex-direction: column;
}

section h2 {
	margin: 20px auto;
}

section div {
	/* Le flex est déclaré ici pour éviter de surcharger inutilement le html */
	display: flex;
	width: 100%;
	justify-content: space-between;
}

footer {
	width: 100%;
	height: 150px;
}

footer ul {
	width: 60%;
	margin: auto;
	padding: 0;
	justify-content: space-between;
}

footer ul li {
	list-style: none;
	font-size: 2.2em;
}



